@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<h1>@ViewData["Title"]</h1>
<p>
    Your email was confirmed successfully! Now you can <a asp-page="./Login">log in</a>
</p>