@*@model IEnumerable<Сrowdfunding.Models.Category>*@
@model Сrowdfunding.Models.ViewModels.CreateCampaignViewModel
@{
}
<script type="text/javascript" src="~/js/pagedown/jquery.pagedown-bootstrap.combined.min.js"></script>
<script type="text/javascript">
    (function () {

        $("textarea #pagedownMe").pagedownBootstrap();

    })();
</script>
<section class="m-auto" style="width: 70%">
    <form method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label>Category:</label>
            <select name="CategoryId">
                @foreach (var category in Model.Categories)
                {
                    <option value="@category.Id">@category.Name</option>
                }
            </select>
        </div>
        <div class="form-group">
            <label>Name:</label>
            <input type="text" class="form-control" name="Name" />
        </div>
        <div class="form-group">
            <label>Short description:</label>
            <input type="text" class="form-control" name="ShortDescription" />
        </div>
        <div class="form-group">
            <label>Target amout:</label>
            <input type="number" class="form-control" min="1" step="0.01" name="TotalSum" />
        </div>
        <div class="form-group">
            <label>Time:</label>
            <input type="date" class="form-control" name="EndTime" />
        </div>
        <div>
            <label>Image File:</label>
            <input type="file" name="ImageFile" class="form-control" />
            <span asp-validation-for="@Model.Campaign.ImageFile" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label>Story:</label>
            <div id="wmd-button-bar-0" class="wmd-button-bar">
                <div id="wmd-button-row-0" class="btn-toolbar">
                    <div id="wmd-button-group1-0" class="btn-group wmd-button-group1">
                        <button id="wmd-bold-button-0" class="btn btn-default" title="Bold - Ctrl+B">
                            <i class="fa fa-bold"></i>
                        </button>
                        <button></button>
                    </div>
                    <div id="wmd-button-group2-0" class="btn-group wmd-button-group2">

                    </div>
                    <div id="wmd-button-group3-0" class="btn-group wmd-button-group3">

                    </div>
                    <div id="wmd-button-group4-0" class="btn-group wmd-button-group4">

                    </div>
                </div>
            </div>
            <textarea id="pagedownMe" class="form-control" rows="4" style="resize: none;" name="Story">
            </textarea>
        </div>
        <input type="submit" value="Create" />
    </form>
</section>
