@model Сrowdfunding.Models.Reward
@{
}
<div>
    <div>
        @Model.Description
    </div>
    <div>
        Delivery: @Model.Delivery
    </div>
    <div>
        Remain: @Model.Count
    </div>
    <div>
        Price: @Model.Price
    </div>
    <button>Buy</button>
</div>