@model Сrowdfunding.Models.ViewModels.RewardViewModel
@{
}
<form method="post" asp-action="Rewards" asp-controller="Home" enctype="multipart/form-data">
    <input type="hidden" name="CampaignId" value="@Model.Campaign.Id" />
    <div class="form-group">
        <label>Description:</label>
        <input type="text" class="form-control" name="Description" />
    </div>
    <div class="form-group">
        <label>Delivery:</label>
        <input type="text" class="form-control" name="Delivery" />
    </div>
    <div class="form-group">
        <label>Count:</label>
        <input type="number" class="form-control" min="0" step="1" name="Count" />
    </div>
    <div>
        <label>Image File:</label>
        <input type="file" name="ImageFile" class="form-control" />
        <span asp-validation-for="@Model.Reward.ImageFile" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Price($):</label>
        <input type="number" class="form-control" name="Price" />
    </div>
    <input type="submit" value="Submit" />
</form>
