
@{
    ViewData["Title"] = "Index";
}

<h1>Search</h1>
<form asp-controller="Search" asp-action="Index">
    <p>
        <input type="text" name="SearchString" />
        <input type="submit" value="Search" />
    </p>
</form>

